
body{
cursor: url('./images/Cursor.png'), auto;
}
head{
  cursor: url('./images/Cursor.png'), auto;
  }

.App {
  background-color: #a79285;
  cursor: url('./images/Cursor.png'), auto;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #a79285;
  margin-top: 5%;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.4em;
  list-style-type: none;
  display: block;
  overflow: hidden;
  padding-inline-start: inherit;
  cursor: url('./images/Cursor.png'), auto;

}

.navLink {
  font-family: 'Noto Sans', sans-serif;
  text-decoration: none;
  color: inherit;
  cursor: url('./images/Cursor.png'), auto;
}

.arrow {
  font-family: "Canela-Regular", "Times New Roman";

}

@font-face {
  font-family: "Canela-Regular";
  src: local("Canela-Regular"), url(./fonts/Canela-Regular.ttf) format("truetype");
}



.projectList {
  margin-left: 10%;
  margin-right:auto;
  margin-top:10%;
  margin-right: 10%;
  text-align: center;
  font-size: 240%;
  cursor: url('./images/Cursor.png'), auto;


}
.projectTitle {
  font-family: "Canela-Regular";
  text-decoration: none;
  color: inherit;
  cursor: url('./images/Cursor.png'), auto;

}

.projectSubtitle {
  text-decoration: none;
  font-family: 'Noto Sans', sans-serif;
  margin-right: "10px";
  color: inherit;
  cursor: url('./images/Cursor.png'), auto;

}

.introText {
  margin-left: 5%;
  margin-top:5%;
  margin-right: 30%;
  text-align: left;
  font-family: "Canela-Regular";
  text-decoration: none;
  color: inherit;
  font-size: 260%;
  line-height: 110%;
}

.subInfo{
  margin-left: 5%;
  margin-top:5%;
  text-align: left;
  font-family:'Noto Sans', sans-serif ;
  text-decoration: none;
  color: inherit;
  font-size: 260%;
  display: flex;
  flex-wrap: wrap ;
}

.subInfo > div {
margin-right: 10%;
margin-bottom: 20%;
font-size: 40%;
text-decoration: none;
color: black;

}
.subInfo > div > p {

font-size: 80%;
line-height: 100%;
text-align: left;
font-family:'Noto Sans', sans-serif ;
text-decoration: none;
color: black;
/* font-family: "Canela-Regular"; */
}

.subInfo > div > a {

  font-size: 80%;
  line-height: 100%;
  text-align: left;
  font-family:'Noto Sans', sans-serif ;
  text-decoration: none;
  color: black;
  /* font-family: "Canela-Regular"; */
  }

@media only screen and (max-width: 768px) {
  .introText{
    font-size: 140%;
    margin-right: 5%;
    line-height: 125%;

  }
  .subInfo > div {
    margin-right: 20%;
    margin-bottom: 10%;
    font-size: 35%;
    
    }
    .subInfo > div > p {
    
    font-size: 100%;
    line-height: 100%;
    text-align: left;
    font-family:'Noto Sans', sans-serif ;
    text-decoration: none;
    color: black;
    
    }
    subInfo > div > a {

      font-size: 100%;
      line-height: 100%;
      text-align: left;
      font-family:'Noto Sans', sans-serif ;
      text-decoration: none;
      color: black;
      /* font-family: "Canela-Regular"; */
      }
    
}