.App {
  background-color: #a79285;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  text-align: center;
  background-color: #a79285;
  display: flex;
  justify-content: center;
}

.App-header > div {
  margin-inline: 40%;
  text-align: center;
  line-height: 75px;
  font-size: 20px;
}

.App-link {
  color: #61dafb;
}

@font-face {
  font-family: "Canela-Regular";
  src: local("Canela-Regular"), url(./fonts/Canela-Regular.ttf) format("ttf");
}

.projectList {
  display: inline;
  background-color: #a79285;
  text-align: center;
  width: 80% !important;
  left: 0px;
  margin-left: 10%;
  margin-right: auto;
  margin-top: 20%;
  padding-bottom: 20px;
  position: absolute;
  font-family: "Canela-Regular";
}

.unstyledLink {
  color: black;
  /* text-decoration: none; */
  font-family: "Canela-Regular";
}

.unstyledLinkSubtitle {
  color: black;
  /* text-decoration: none; */
  font-family: "Helvetica";
  margin-right: "10px";
}

.unstyledLink :hover {
  color: palevioletred;
}

.projectTitle {
  font-size: large;
  font-family: "Canela-Regular";
  /* font-weight: bold; */
  font-style: normal;
  font-size: 42px;
  text-decoration: none;
}

.box {
  background: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  width: 180px;
  height: 180px;
  margin: 10px;
  padding: 10px;
  float: left;
}
.box2 {
  background: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  width: 180px;
  height: 180px;
  margin: 10px;
  padding: 10px;
  /* float: left; */
  position: absolute;
  left: 500px;
  top: 450px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
