
.App {
  background-color: #a79285;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #a79285;
  margin-top: 5%;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.4em;
  list-style-type: none;
  display: block;
  overflow: hidden;
  padding-inline-start: inherit;
}

.navLink {
  font-family: 'Noto Sans', sans-serif;
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "Canela-Regular";
  src: local("Canela-Regular"), url(./fonts/Canela-Regular.ttf) format("truetype");
}

.arrow {
    font-family:'Noto Sans', sans-serif ;
  
}

.projectList {
  margin-left: 10%;
  margin-right:auto;
  margin-top:10%;
  margin-right: 10%;
  text-align: center;


}
.projectTitle {
  font-family: "Canela-Regular";
  text-decoration: none;
  color: inherit;
}

.projectSubtitle {
  text-decoration: none;
  font-family: 'Noto Sans', sans-serif;
  margin-right: "10px";
  color: inherit;
}

.introText {
  margin-left: 5%;
  margin-top:5%;
  margin-right: 35%;
  text-align: left;
  font-family: "Canela-Regular";
  text-decoration: none;
  color: inherit;
  font-size: 2.6em;
  line-height: 110%;
}

.subInfo{
  margin-left: 5%;
  margin-top:5%;
  text-align: left;
  font-family:'Noto Sans', sans-serif ;
  text-decoration: none;
  color: inherit;
  font-size: 1em;
  display: flex;
  flex-wrap: wrap;
}

.subInfo > div {
margin-right: 10%;
}
.subInfo > div > p {

font-size: 0.5em;
line-height: 110%;

}


/* .projectTitle:hover {
  color: yellow;
} */


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
